<div class="container">
  <h1>Restaurants</h1>
  <ul class="list-unstyled">
    <% @restaurants.each do |restaurant| %>
      <li>
        <h2><%=  link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number %></p>
        <p><%= restaurant.category %></p>
      </li>
    <% end %>
  </ul>
</div>



